body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 30%;
    background: red url(./assets/background.jpg) repeat-x center /contain;
    
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
}
